<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            body {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
                margin: 0;
            }

            .serverErr {
                color: var(--swf-steenkool);
                font-weight: 500
            }

            .serverErr a {
                color: var(--swf-rood-rood);
                font-weight: bold;
            }

            
        </style>
    </head>
    <body>

        <span class="serverErr">Ga terug naar <a href="/">home</a></span>
    </body>
</html>