:root {
  /* Colors */
  --swf-rood: #bf0042;
  --swf-rood-donker: #9b0036;
  --swf-wit: #ffffff;
  --swf-grijs-licht: #f7f7f7;
  --swf-grijs-donker: #d1d5db;
  --swf-steenkool: #1f2937;
  --swf-slate: #6b7280;

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: var(--font-base);
  line-height: 1.6;
  color: var(--swf-steenkool);
  background-color: var(--swf-grijs-licht);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  gap: 20px;
  background-color: var(--swf-wit);
  box-shadow: var(--shadow-md);
  height: 80px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 64px;
}

.logo {
  max-width: 200px;
  height: auto;
}


nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav li {
  cursor: pointer;
  color: var(--swf-steenkool);
}

nav li:hover {
    color: var(--swf-rood)
}

nav li:visited {
    color: var(--swf-rood)
}

button {
  padding: 8px 28px;
  background-color: var(--swf-rood);
  color: var(--swf-wit);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: var(--shadow-sm);
}

button:hover {
  background-color: var(--swf-rood-donker);
}
